@model EventMi.Core.Models.EventModel;

@{
    ViewBag.Title = "Add an Event";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Start" class="form-label">Start</label>
                <input asp-for="Start" id="startDate" class="form-control" aria-required="true" value="@DateTime.Now"/>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="End" class="form-label">End</label>
                <input asp-for="End" id="endDate" class="form-control" aria-required="true" onchange="compare()"/>
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Place" class="form-label">Place</label>
                <input asp-for="Place" class="form-control" aria-required="true" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<script>
  function compare() {
    let startDate = document.getElementById('startDate').value;
    let endDate = document.getElementById('endDate').value;
    
    if (new Date(startDate) > new Date(endDate)) {
      let errorMessage = document.createElement("span");
      errorMessage.style.color = "red";
      errorMessage.innerHTML = "End date cannot be before the start date.";
      
      let endDateField = document.getElementById('endDate');
      
      // Remove any existing error message before inserting the new one
      let existingErrorMessage = endDateField.parentNode.querySelector(".error-message");
      if (existingErrorMessage) {
        existingErrorMessage.remove();
      }
      
      endDateField.parentNode.insertBefore(errorMessage, endDateField.nextSibling);
      errorMessage.classList.add("error-message");
    } else {
      // Remove any existing error message if the dates are valid
      let existingErrorMessage = document.querySelector(".error-message");
      if (existingErrorMessage) {
        existingErrorMessage.remove();
      }
    }
  }
</script>
